<template name="Index">

<!-- My Listings Sidebar -->

<div id="listings-sidebar" class="overlay ui very wide red vertical demo sidebar menu">
  <a class="item">
    <i class="home icon"></i>
    Home
  </a>
  <a class="active item">
    <i class="heart icon"></i>
    Current Section
  </a>
  <a class="item">
		{{> reactiveTable collection=Listings settings=settings }}
  </a>
  <div class="item">
    <b>More</b>
    <div class="menu">
      <a class="item">About</a>
      <a class="item">Contact Us</a>
    </div>
  </div>
</div>

<!-- Search Sidebar -->

<div id="search-sidebar" class="overlay ui very wide red vertical demo sidebar menu">
  <div class="item">
      <form id="search-listings-form" action="#">
        <div class="ui form segment">
          <div class="field">
            <label>City</label>
            <input placeholder="City" name="city" type="text">
          </div>
          <div class="two fields">
            <div class="field">
              <label>Number of Bedrooms</label>
              <input type="number" name="bedrooms">
            </div>
            <div class="field">
              <label>Number of Bathrooms</label>
              <input type="number" name="bathrooms">
            </div>
          </div>
          <div class="three fields">
            <div class="field">
              <label>Interior Size</label>
              <div class="ui icon input">
                <input type="number" name="interiorSize">
                <i class="inverted icon">m<sup>2</sup></i>
              </div>
            </div>
            <div class="field">
              <label>Exterior Size</label>
              <div class="ui icon input">
                <input type="number" name="exteriorSize">
                <i class="inverted icon">m<sup>2</sup></i>
              </div>
            </div>
            <div class="field">
              <label>Price</label>
              <div class="ui icon input">
                <i class="inverted yen icon"></i>
                <input type="number" name="price">
              </div>
            </div>
          </div>
        </div>
        <div class="actions">
          <input class="ui button" type="submit" id="search-sidebar-submission-button" value="Submit">
        </div>
      </form>
  </div>
</div>

<!-- Google Map -->

<div id="map-canvas"></div>

<!-- Show Listing Modal -->

{{> ShowListing}}

</template>

