<template name="AddListing">

	<div class="test ui modal">
	  <i class="close icon"></i>
	  <div class="header">
	    Header
	  </div>
	  <div class="content">
	    <div class="left">
	      <div class="dropzone" id="dropzone"></div>
	    </div>
	    <div class="right">
	    	<form action="#">
					<input type="text" name="address" placeholder="address goes here">
					<input type="submit" id="add-listing-button" value="Submit">
	    	</form>
	      Some content to the right
	    </div>
	  </div>
	  <div class="actions">
	    <div class="ui button">
	      Cancel
	    </div>
	    <div class="ui button">
	      Okay
	    </div>
	  </div>
	</div>

</template>