<template name="ShowListing">

	<div class="ui modal" id="show-listing-modal">
	  <i class="close icon"></i>
	  <div class="grid">
		  <div class="header sixteen wide column">
		    {{Listing.fullAddress}}
		  </div>
		  <div class="eight wide column">
		  	{{Listing.bedrooms}}
		  </div>
		  <div class="eight wide column">
		    {{Listing.bathrooms}}
		  </div>
		  <div class="eight wide column">
		    {{#each ListingImages}}
		    <div class="item"> <img src="{{this}}"></div>
		    {{/each}}
		  </div>
	  </div>

	</div>

</template>