<template name="header">

<div class="ui fixed transparent inverted menu grid six column stackable">

  <a class="active item brand">
    <i class="white url icon"></i> China Zillow
  </a>

  <div class="right menu">
    <div class="right ui icon buttons">
      <div class="ui top right pointing dropdown button">
        {{> loginButtons}}
      </div>
      <div class="ui top right pointing dropdown button">
        <i class="user icon"></i>
      </div>
      <div class="ui top right pointing dropdown button">
        <i class="settings icon"></i>
        <div class="menu ui transition hidden">
          <div class="item" id="search-listings"><i class="delete icon"></i>Search Listings</div>
          <div class="item" id="create-listing"><i class="edit icon"></i>Create Listing</div>
          <div class="item" id="my-listings"><i class="delete icon"></i>My Listings</div>
        </div>
      </div>
    </div>
  </div>

  {{> CreateListing}}
  {{> ShowListings}}

</div>



</template>