<template name="header">

<div class="ui fixed transparent inverted menu grid six column stackable">

  <a class="active item brand">
    <i class="white url icon"></i> China Zillow
  </a>

  <div class="right menu">
    <div class="right ui icon buttons">
      <div class="ui top left pointing dropdown button">
        <i class="user icon"></i>
        <div class="menu ui transition hidden">
          <div class="item"><i class="edit icon"></i>Edit User</div>
          <div class="item"><i class="delete icon"></i>Remove User</div>
          <div class="item"><i class="hide icon"></i>Make Invisible</div>
        </div>
      </div>
      <div class="ui top left pointing dropdown button">
        <i class="users icon"></i>
        <div class="menu ui transition hidden">
          <div class="item"><i class="edit icon"></i>Edit Group</div>
          <div class="item"><i class="delete icon"></i>Remove Group</div>
          <div class="item"><i class="hide icon"></i>Hide from Group</div>
        </div>
      </div>
      <div class="ui top right pointing dropdown button">
        <i class="settings icon"></i>
        <div class="menu ui transition hidden">
          <div class="item"><i class="edit icon"></i>Edit</div>
          <div class="item"><i class="delete icon"></i>Remove</div>
          <div class="item"><i class="hide icon"></i>Hide</div>
        </div>
      </div>
    </div>
  </div>

</div>



</template>